@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#wrapper {
    max-width: 1280px;
    margin: auto;
}

header, #howtowatch, #aboutcourse, #lessonsform {
    margin-left: 9.45%
}

header {
    margin-top: 21px;
    width: 9%;
}

header img {
    max-width: 100%;
    height: auto;
}

/* section howtowatch */

.coursepoints {
    max-width: 47%;
}

.coursepoints ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    margin-top: 96px;
    font-size: 1.25rem;
}

.coursepoints ul li:nth-child(even) {
    margin-right: 8%;
}

.coursepoints ul li:nth-child(odd) {
    margin-right: 1%;
    width: 4%;
}

.coursepoints ul li img {
    max-width: 100%;
    height: auto;
}

.header1_photo {
    margin-top: 29px;
    max-width: 84%;
    display: flex;
    justify-content: space-between;
}

.header1_photo div {
    max-width: 59%;
    font-size: 1.25rem;
    font-weight: 400;
}

.header1_photo div:last-child {
    width: 28.3%;
}

.header1_photo div img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Roboto Slab';
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    line-height: 100%;
}

.header1_photo p {
    max-width: 72%;
}

.quote {
    font-family: 'Roboto Slab';
    font-weight: 400;
    background-color: #1E4681;
    color: #FFFFFF;
    font-size: 1.5rem;
    max-width: 38%;
    height: 200px;
    border-radius: 5px;
    margin-top: 68px;
    margin-left: 22.5%;
    margin-bottom: 173px;
}

.quote p {
    margin: 0;
}

.quote p:first-child {
    padding: 5% 3% 2% 4%; 
    text-align: left;
}

.quote p:last-child {
    font-family: 'Roboto';
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    padding-right: 3%;
}

/* section aboutcourse */

.course_descrip_photo {
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course_descrip_photo div:last-child {
    width: 31%;
}

.course_descrip_photo div img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-family: 'Roboto Slab';
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 101.38%;
    /* or 56px */
}

.main_descrip {
    max-width: 55%;
}

.main_descrip p {
    margin-top: 0;
}

.photo_lessons_comments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 78%;
    margin-bottom: 162px;
}

.photo_lessons_comments div:first-child {
    margin-right: 13%;
    width: 23%;
}

.photo_lessons_comments div img {
    max-width: 160%;
    height: auto;
}

.photo_lessons_comments div {
    max-width: 16%;
}

.commentheader {
    font-size: 1.55rem;
    font-weight: 700;
    margin-bottom: 0;
}

/* section lessonsform */

.lessons_form_descrip {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 89px;
    margin-bottom: 179px;
    font-size: 1.1rem;
    font-weight: 400;
    max-width: 76%;
}

.formheader {
    color: #1E4681;
    font-size: 1.55rem;
    font-weight: 700;
}

.lessons_form_descrip div {
    max-width: 27%;
    max-height: 79px;
}

#knowledge, #programcourse h2{
    margin-left: 9.45%;
    max-width: 52.97%;
}

#knowledge ul{
    font-family: Roboto;
    font-size: 1.5rem;
    line-height: 150%;
    /* or 36px */
    margin-bottom: 248px;
    padding-left: 20px;
    box-sizing: border-box;
}

.rects{
    margin-top: 132px;
    margin-bottom: 121px;
}

.item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    width: 99.3%;
    margin-left: 6.56%;
}

.item:last-child{
    width: 65.23%;
    justify-content: space-between;
}

.item:last-child .block{
    width: 47.78%;
}

.block{
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 31.39%;
}

.block img{
    width: 100%;
    height: auto;
}

.block h3{
    margin: 11px 0 32px 20px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.87rem;
    line-height: 130%;
    /* identical to box height, or 39px */
}

.block p{
    margin: 0 0 23px 19px;
    font-family: Roboto;
    font-size: 1.56rem;
    line-height: 130%;
    /* or 32px */
}

.item:last-child .block:last-child h3{
    margin: 16px 0 8px 20px; /* в макете 1 */
    line-height: 97%;
    /* or 29px */
}

/* @media tablet */

@media screen and (min-width: 992px) and (max-width: 1279px) {

/* section howtowatch */

.coursepoints ul {
    margin-top: 56px;
}

.coursepoints ul li {
    font-size: 0.75rem;
}

.header1_photo {
    margin-top: 8px;

}

.header1_photo div {
    font-size: 0.75rem;
}

h1 {
    font-size: 2.87rem;
}

.quote {
    font-size: 0.87rem;
    height: 116px;
    border-radius: 2.9px;
    margin-top: 39px;
    margin-bottom: 100px;
    max-width: 33.5%;
}

.quote p:last-child {
    font-size: 0.75rem;
}

/* section aboutcourse */

.course_descrip_photo {
    font-size: 0.87rem;
}

h2 {
    font-size: 2rem;
}

.photo_lessons_comments {
    margin-top: 30px;
    font-size: 0.68rem;
    margin-bottom: 94px;
}

.commentheader {
    font-size: 0.93rem;
}

/* section lessonsform */

.lessons_form_descrip {
    margin-top: 51px;
    margin-bottom: 103px;
    font-size: 0.68rem;
}

.formheader {
    font-size: 0.93rem;
}

.lessons_form_descrip div {
    max-height: 45px;
}
  
    h2{
        font-size: 2rem;
    }

    #knowledge, #programcourse h2{
        width: 38.65%;
    }

    #knowledge ul{
        font-size: 0.87rem;
        margin-bottom: 130px;
    }
    
    .rects{
        margin-top: 76.7px;
        margin-bottom: 52.6px;
    } 

    .item{
        width: 74.21%;
        margin-bottom: 23.75px;
    }
    
    .item:last-child{
        width: 48.75%;
    }

    .block{
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
        width: 31.39%;
    }

    .item:last-child .block{
        width: 47.79%;
    }

    .block h3{
        margin: 6.37px 0 18.53px 11.58px;
        font-size: 1.06rem;
    }
        
    .block p{
        margin: 0 0 13.32px 11px;
        font-size: 0.87rem;
    }
        
    .item:last-child .block:last-child h3{
        margin: 9.27px 0 1px 11.58px; /* в макете 1 */
        line-height: 97%;
        /* or 29px */
    }
}

/* @media mobile */

@media screen and (max-width: 991px) {

    /* section howtowatch */
    
    header {
        min-width: 52px;
    }

    .coursepoints {
        min-width: 237px;
    }

    .coursepoints ul {
        margin-top: 47px;
    }
    
    .coursepoints ul li {
        font-size: 0.62rem;
    }

    .coursepoints ul li:nth-child(odd) {
        min-width: 10px;
    }
    
    .coursepoints ul li:nth-child(even) {
        margin-right: 16px;
    }

    .header1_photo {
        margin-top: 8px;
        flex-direction: column;
    }

    .header1_photo div {
        font-size: 0.62rem;
        max-width: 100%;
    }

    .header1_photo div:last-child {
        min-width: 141px;
        margin: auto;
    }
    
    h1 {
        font-size: 2.3rem;
    }
    
    .quote {
        font-size: 0.68rem;
        height: 93px;
        border-radius: 2.3px;
        margin-top: 39px;
        margin-bottom: 75px;
        margin-left: 0;
        min-width: 225px;
    }
    
    .quote p:last-child {
        font-size: 0.62rem;
    }
    
    /* section aboutcourse */
    
    .course_descrip_photo {
        font-size: 0.75rem;
        flex-wrap: wrap;
    }
    
    h2 {
        font-size: 1.62rem;
    }
    
    .photo_lessons_comments {
        margin-top: 30px;
        font-size: 0.62rem;
        margin-bottom: 76px;
        max-width: 206px;
        flex-wrap: wrap;
    }

    .photo_lessons_comments div {
        max-width: 86px;
    }

    .course_descrip_photo {
        flex-direction: column;
        align-items: flex-start;
    }

    .main_descrip {
        min-width: 308px;
    }

    .course_descrip_photo div:last-child {
        min-width: 170px;
        margin: auto;
    }

    .photo_lessons_comments div:first-child {
        display: none;
    }
    
    .commentheader {
        font-size: 0.75rem;
    }
    
    /* section lessonsform */
    
    .lessons_form_descrip {
        margin-top: 17px;
        margin-bottom: 73px;
        font-size: 0.62rem;
        flex-direction: column;
    }
    
    .formheader {
        font-size: 0.75rem;
    }
    
    .lessons_form_descrip div {
        max-height: 50px;
        margin-bottom: 30px;
        max-width: 180px;
    }
  
  #knowledge h2, #programcourse h2{
        font-size: 1.6rem;
    }

    #knowledge{
        margin-left: 9.6%;
        width: 299px; /* 30.79% вместе с дальнейшим сужением - хрень!*/
    }

    #knowledge ul{
        font-size: 0.75rem;
        margin-bottom: 70px;
    }

    .rects{
        margin-top: 52px;
        margin-bottom: 47.16x;
    } 

    .item{
        width: 185.92px; /*49.58% вместе с дальнейшим сужением - хрень!*/
        flex-direction: column;
        margin-left: 25.33%;
        margin-bottom: 0;
    }

    .item:last-child{
        width: 185.92px; /*49.58% вместе с дальнейшим сужением - хрень!*/
    }

    .block{
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
        width: 100%;
        margin-bottom: 24.16px;
    }

    .item:last-child .block{
        width: 100%;
    }

    .block h3{
        margin: 5.13px 0 14.91px 9.32px;
        font-size: 0.87rem;
    }
        
    .block p{
        margin: 0 0 8.85px 10.72px;
        font-size: 0.75rem;
    }
        
    .item:last-child .block:last-child h3{
        margin: 9.27px 0 1px 11.58px; /* в макете 1 */
        line-height: 97%;
        /* or 29px */
    }
 
/*  TURPAL  */

#recall{
    width:1280px ;
    height: 780px;
    background: #EFEFEF;
}
#schedule{
    width: 1280px;
    height: 780px;
    background: #9DC9C8;
}
footer{
    width: 1280px;
    height: 390px;
    background: #000000;
}
.ad-screen h1{
    font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 3.4em;
line-height: 101.38%;
/* or 56px */
width: 987px;
height: 93px;
color: #000000;
padding-top:  91px;
padding-left: 122px;
margin:0em
} 
.ad-screen{
    width: 1280px;
    height: 780px;
}
.ad-screen p{
    width: 700px;
    height: 203px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: #000000; 
    padding-top: 40px;
    padding-left: 45px
    
}
.info{
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.info{
    width: 791px ;
    height: 451px ;
    background: #FFFFFF;
    margin-left: 126px;
    margin-bottom: 111px;
    border-radius: 20px
    
}

.avatar{
    width: 573px;
    height: 169px;
    margin: 0em;
    padding-bottom: 29px;
    padding-left: 26px;
    display: flex;
}

.name-avtor{
    width: 353px;
    height: 59px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    /* or 30px */
    color: #000000;
    padding-top: 50px;
    padding-left: 30px;
}

.logo-facebook{
    width: 32px;
    height: 31px;
    padding-top: 20px;
    
}
.ad-screen2 h1{  
    width: 908px;
    height: 66px;
    margin: 0em;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    /* or 56px */
    padding-top: 179px;
    padding-left: 122px;
    color: #000000;
  
}
.price{
    width: 170px;
height: 32px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
/* or 25px */
padding-left: 122px;
padding-top: 54px;
color: #000000;
}
.figure-price{
    width: 481px;
    height: 181px;
    font-size: 80px;
    line-height: 101.38%;
    /* or 81px */
    color: #000000;
}
.first-course h2{
    width: 294px;
    height: 32px;
    margin: 0em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    /* or 25px */
    color: #000000;

}
.first-course{
    width: 294px;
    margin-left: 122px;
    margin-top: 153px;
}
.first-course h3{
    font-family: Roboto;
    margin: 0em;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
    /* or 18px */
    color: #000000;
}
.description{
    display: flex;
    width: 658px;
    height: 102px;
}
.course{
    padding-top: 155px;
    padding-left: 70px;
}
.course h2 {
    width: 322px;
    height: 32px;
    margin: 0em;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 101.38%;
/* or 25px */
color: #000000;
}
.course h3{
    width: 294px;
    height: 70px; 
    margin: 0em; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 101.38%;
    /* or 18px */
    color: #000000;
}
.logo-synchronization  {
    display: flex;
    justify-content: space-between;
    width: 115px;
    height: 68px;
    margin: 0em;
    padding-left: 122px;
    padding-top: 50px;
}
.logo-sinchro{
    justify-content: flex-end;
    width: 115px;
    height: 68px;
}
.number-mail h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 101.38%;
    /* or 25px */
    color: #FFFFFF;
    width: 230px;
    height: 40px;
}
.logos{
    justify-content: flex-end;
  
}
    }
