@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#wrapper {
    width: 1280px;
}

header {
    margin: 0;
    margin-left: 8%;
    margin-top: 21px;
}

#howtowatch, #aboutcourse, #lessonsform {
    margin: 0;
    margin-left: 8%;
}

/* section howtowatch */

.coursepoints {
    max-width: 47%;
}

.coursepoints ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    margin-top: 96px;
}

.coursepoints ul li {
    display: flex;
    align-items: flex-end;
}

.coursepoints ul li:nth-child(even) {
    margin-right: 12%;
}

.coursepoints ul li:nth-child(odd) {
    margin-right: 2%;
}

.header1_photo {
    margin-top: 29px;
    max-width: 84%;
    display: flex;
    justify-content: space-between;
}

.header1_photo div:first-child {
    max-width: 58%;
    font-size: 1.25em;
    font-weight: 400;
}

h1 {
    font-family: 'Roboto Slab';
    font-size: 4em;
    font-weight: 700;
    margin: 0;
    line-height: 100%;
}

.header1_photo p {
    max-width: 72%;
}

.quote {
    font-family: 'Roboto Slab';
    font-weight: 400;
    background-color: #1E4681;
    color: #FFFFFF;
    font-size: 1.5em;
    max-width: 39%;
    height: 200px;
    border-radius: 5px;
    margin-top: 68px;
    margin-left: 21%;
    margin-bottom: 173px;
}

.quote p {
    margin: 0;
}

.quote p:first-child {
    padding: 5% 5% 2% 5%; 
    text-align: left;
}

.quote p:last-child {
    font-family: 'Roboto';
    font-size: 0.8em;
    font-weight: 400;
    text-align: right;
    padding-right: 4%;
}

/* section aboutcourse */

.course_descrip_photo {
    font-family: 'Roboto';
    font-size: 1.5em;
    font-weight: 400;
    max-width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-family: 'Roboto Slab';
    font-size: 3.4em;
    font-weight: 700;
}

.main_descrip {
    max-width: 55%;
}

.main_descrip p {
    margin-top: 0;
}

.photo_lessons_comments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    font-size: 1.1em;
    font-weight: 400;
    max-width: 81%;
    margin-bottom: 162px;
}

.photo_lessons_comments div:first-child {
    padding-right: 15%;
}

.photo_lessons_comments div {
    max-width: 18%;
}

.commentheader {
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 0;
}

/* section lessonsform */

.lessons_form_descrip {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 89px;
    margin-bottom: 179px;
    font-size: 1.1em;
    font-weight: 400;
    max-width: 81%;
}

.formheader {
    color: #1E4681;
    font-size: 1.4em;
    font-weight: 700;
}

.lessons_form_descrip div {
    max-width: 28%;
    max-height: 79px;
}
